<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joandersongoncalves.example.koes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="joandersongoncalves.example.koes.presentation.EditHomeScreenActivity" />
        <activity android:name="joandersongoncalves.example.koes.presentation.CreateRecipeActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="joandersongoncalves.example.koes.presentation.CategoryActivity" />
        <activity
            android:name="joandersongoncalves.example.koes.presentation.SearchActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name="joandersongoncalves.example.koes.presentation.RecipeDetailsActivity" />
        <activity
            android:name="joandersongoncalves.example.koes.presentation.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>